<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add New Customer</h4>
    </div>
    <div class="card-body">
        <form action="/addCustomer" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="firstname">Recipe Name</label>
                        <input type="text" class="form-control" name="firstname" placeholder="enter the name of recipe" id="firstname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="phonenumber">Servings</label>
                        <input type="number" class="form-control" name="phonenumber" placeholder="enter the number of servings" id="phonenumber">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="cnic">Time</label>
                        <input type="text" class="form-control" name="cnic" placeholder="enter the time this recipe will take to complete" id="cnic">
                    </div>
                </div>
            
                </div>
            </div>
            <div class="">
                <button itype="submt" class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>