<div class="Home" style="width: 1920px; height: 4096px; position: relative; background: #E8DDB5">
  <div class="Heading" style="width: 1920px; height: 4096px; left: 0px; top: 0px; position: absolute">
    <div class="Head" style="width: 1920px; height: 274px; left: 0px; top: 0px; position: absolute; background: #EDAFB8"></div>
    <div class="Rectangle5" style="width: 1920px; height: 106px; left: 0px; top: 3990px; position: absolute; background: #81523F; border: 1px black solid"></div>
    <div class="TastyTech" style="width: 569px; height: 102px; left: 45px; top: 80px; position: absolute; color: white; font-size: 96px; font-family: Sacramento; font-weight: 400; word-wrap: break-word">Tasty Tech</div>
    <div class="Rectangle4" style="width: 707px; height: 87px; left: 713px; top: 187px; position: absolute"></div>
    <div class="SearchBar" style="width: 685px; height: 98px; left: 713px; top: 84px; position: absolute; background: white; border-radius: 22px">
      <form class="SearchBar" action ="/search/results" method = "POST">
        <label>Search:
            <input type = "text" name = "query" placeholder="enter query" />
            <button type="submit">Search</button>
        </label>
    </form>
    </div>
    <img class="Glass1" style="width: 96px; height: 96px; left: 713px; top: 88px; position: absolute" src="https://via.placeholder.com/96x96" />
  </div>
  <div class="Rectangle6" style="width: 415px; height: 406px; left: 45px; top: 332px; position: absolute; background: #87675A; border-radius: 27px"></div>
  <div class="Rectangle7" style="width: 415px; height: 406px; left: 522px; top: 332px; position: absolute; background: #87675A; border-radius: 27px"></div>
  <div class="Rectangle8" style="width: 415px; height: 406px; left: 983px; top: 332px; position: absolute; background: #87675A; border-radius: 27px"></div>
  <img class="Home1" style="width: 153px; height: 166px; left: 433px; top: 48px; position: absolute" src="https://via.placeholder.com/153x166" />
</div>