<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<button class="btn" style="width:100px;height:100px;"><i class="fa fa-home"></i></button>
        <button class="btn" style="width:100px;height:100px;"><i class="fa fa-bars"></i></button>
        <button class="btn" style="width:100px;height:100px;"><i class ="fa-solid fa-magnifying-glass"></i></button>    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">


    <title>Document</title>
</head>
<div class="Home" style="width: 1920px; height: 4096px; position: relative; background: #E8DDB5">
  <div class="Heading" style="width: 1920px; height: 4096px; left: 0px; top: 0px; position: absolute">
    <div class="Head" style="width: 1920px; height: 274px; left: 0px; top: 0px; position: absolute; background: #EDAFB8"></div>
    <div class="Rectangle5" style="width: 1920px; height: 106px; left: 0px; top: 3990px; position: absolute; background: #81523F; border: 1px black solid"></div>
    <div class="TastyTech" style="width: 569px; height: 102px; left: 45px; top: 80px; position: absolute; color: white; font-size: 96px; font-family: Sacramento; font-weight: 400; word-wrap: break-word">Tasty Tech</div>
    <div class="Rectangle4" style="width: 707px; height: 87px; left: 713px; top: 187px; position: absolute"></div>
    <div class="SearchBar" style="width: 685px; height: 98px; left: 713px; top: 84px; position: absolute; background: white; border-radius: 22px">
      <form class="SearchBar" action ="/search/results" method = "POST">
        <label>Search:
            <input type = "text" name = "query" placeholder="enter query" />
            <button type="submit">Search</button>
        </label>
    </form>
    </div>
    <button class="btn" style="width:100px;height:100px;"><i class="fa fa-home"></i></button>
        <button class="btn" style="width:100px;height:100px;"><i class="fa fa-bars"></i></button>
        <button class="btn" style="width:100px;height:100px;"><i class ="fa-solid fa-magnifying-glass"></i></button>    <link rel="preconnect" href="https://fonts.googleapis.com">
  </div>
  <div class="Rectangle6" style="width: 415px; height: 406px; left: 45px; top: 332px; position: absolute; background: #87675A; border-radius: 27px"></div>
  <div class="Rectangle7" style="width: 415px; height: 406px; left: 522px; top: 332px; position: absolute; background: #87675A; border-radius: 27px"></div>
  <div class="Rectangle8" style="width: 415px; height: 406px; left: 983px; top: 332px; position: absolute; background: #87675A; border-radius: 27px"></div>
  <button class="btn" style="width:100px;height:100px;"><i class="fa fa-home"></i></button>
        <button class="btn" style="width:100px;height:100px;"><i class="fa fa-bars"></i></button>
        <button class="btn" style="width:100px;height:100px;"><i class ="fa-solid fa-magnifying-glass"></i></button>    <link rel="preconnect" href="https://fonts.googleapis.com">
</div>