<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container">

     <form  action ="/deleteUserCustomer/<%=recipe._id%>" method = "GET">
        <button type="submit">Remove from Favorites</button>
    </form>
    <h1><%=recipe.title%></h1>
    <h2>Ingredients</h2>
    <ul>
        <% recipe.ingredients.forEach(function(ingredient) { %>
            <li><%= ingredient %></li>
        <% }); %>    </ul>
    <h2>Instructions</h2>
    <ol>
        <% recipe.instructions.forEach(function(instruction) { %>
            <li><%= instruction %></li>
        <% }); %>
    </ol>
    <div><button onclick="printPage()">Print Page</button></div>

    <script>
        function printPage() {
            window.print();
        }
    </script>
    <a href="/">Back to home page</a>
    </div>
    
</body>
</html>

